.tiptap {
  margin: 0 auto;
  outline: none;
  padding-bottom: 128px;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

/* ------------------------------- Placeholder ------------------------------ */
.tiptap {
  p.is-empty::before {
    float: left;
    height: 0;
    pointer-events: none;
    content: attr(data-placeholder);
    color: hsl(var(--heroui-default-300) / var(--heroui-base-default-opacity, var(--tw-bg-opacity)));
  }
}

/* ------------------------------- Text Color ------------------------------ */
:root {
  --editor-text-default: inherit;
  --editor-text-grey: rgb(120, 119, 116);
  --editor-text-brown: rgb(159, 107, 83);
  --editor-text-orange: rgb(217, 115, 13);
  --editor-text-yellow: rgb(203, 145, 47);
  --editor-text-green: rgb(68, 131, 97);
  --editor-text-blue: rgb(51, 126, 169);
  --editor-text-purple: rgb(144, 101, 176);
  --editor-text-pink: rgb(193, 76, 138);
  --editor-text-red: rgb(212, 76, 71);
}

.dark {
  --editor-text-default: inherit;
  --editor-text-grey: rgb(155, 155, 155);
  --editor-text-brown: rgb(186, 133, 111);
  --editor-text-orange: rgb(199, 125, 72);
  --editor-text-yellow: rgb(202, 152, 77);
  --editor-text-green: rgb(82, 158, 114);
  --editor-text-blue: rgb(55, 154, 211);
  --editor-text-purple: rgb(157, 104, 211);
  --editor-text-pink: rgb(209, 87, 150);
  --editor-text-red: rgb(223, 84, 82);
}

/* ------------------------------- Background Color ------------------------------ */
:root {
  --editor-background-default: inherit;
  --editor-background-grey: rgb(248, 248, 247);
  --editor-background-brown: rgb(244, 238, 238);
  --editor-background-orange: rgb(251, 236, 221);
  --editor-background-yellow: rgb(251, 243, 219);
  --editor-background-green: rgb(237, 243, 236);
  --editor-background-blue: rgb(231, 243, 248);
  --editor-background-purple: rgb(248, 243, 252);
  --editor-background-pink: rgb(252, 241, 246);
  --editor-background-red: rgb(253, 235, 236);
}

.dark {
  --editor-background-default: inherit;
  --editor-background-grey: rgb(47, 47, 47);
  --editor-background-brown: rgb(74, 50, 40);
  --editor-background-orange: rgb(92, 59, 35);
  --editor-background-yellow: rgb(86, 67, 40);
  --editor-background-green: rgb(36, 61, 48);
  --editor-background-blue: rgb(20, 58, 78);
  --editor-background-purple: rgb(60, 45, 73);
  --editor-background-pink: rgb(78, 44, 60);
  --editor-background-red: rgb(82, 46, 42);
}

/* ------------------------------ Bulleted list ----------------------------- */
.tiptap {
  ul {
    p {
      @apply m-0 whitespace-pre-wrap break-words;
    }
  }
}

/* ------------------------------ Numbered list ----------------------------- */
.tiptap {
  ol {
    p {
      @apply m-0 whitespace-pre-wrap break-words;
    }
  }
}

/* ------------------------------- To-do list ------------------------------- */
.tiptap {
  ul[data-type='taskList'] {
    @apply list-none p-0;

    p {
      @apply m-0 whitespace-pre-wrap break-words;
    }

    li {
      @apply flex items-start;

      > label {
        @apply relative mr-2 mt-[0.3em] size-4 shrink-0 cursor-pointer select-none rounded-[3px] border border-default-300;

        input[type='checkbox'] {
          @apply absolute size-full cursor-pointer opacity-0;
        }
      }

      > div {
        @apply mb-0 flex-auto;
      }

      &[data-checked='true'] {
        > div > p {
          @apply text-default-500 line-through;
        }

        > label {
          @apply border-blue-500 bg-blue-500;

          &::after {
            content: '';
            @apply absolute left-[4.5px] top-[1px] h-[10px] w-[5px] rotate-45 border-b-2 border-r-2 border-white;
          }
        }
      }
    }
  }
}

/* ---------------------------- Column & Columns ---------------------------- */
.tiptap {
  [data-type='columns'] {
    &.has-focus [data-type='column'],
    & [data-type='column'] {
      @apply rounded-small border border-divider shadow-small;
    }
  }

  [data-type='columns'] {
    @apply my-2 grid gap-2;

    &.layout-left {
      grid-template-columns: 40fr 60fr;
    }

    &.layout-right {
      grid-template-columns: 60fr 40fr;
    }

    &.layout-equal {
      grid-template-columns: 1fr 1fr;
    }
  }

  [data-type='column'] {
    @apply overflow-auto px-3;
  }
}
